<!DOCTYPE html>

<html lang = "es" >
    <head>
        <title>iTicket</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" href="/home.css"/>
    </head>

    <body>

        <nav >
            <ul>
                <li ><a href="">HOME</a></li>
                <li><a href="conciertos">VER CONCIERTOS</a></li>    
                <li><a href="agregar">AGREGAR CONCIERTOS</a></li>
            </ul>
        </nav>
        <div class = "content">
            <!-- <img src="images/background.png" alt="Fondo de la página"/> -->
            <div>
                <h1> iTicket </h1>
                <h2>concerts</h2></div> 
            <p>En ese sitio web usted podrá visualizar información<br> 
                acerca de diversos conciertos<br>
                y administrar los mismos.</p>
            <div>         

            </div>
        </div>

    </body>

</html>
